
.icon-contact:before { content: '\e800'; } /* '' */
.icon-defi:before { content: '\e801'; } /* '' */
.icon-bridge:before { content: '\e802'; } /* '' */
.icon-swap:before { content: '\e803'; } /* '' */
.icon-rewards:before { content: '\e804'; } /* '' */
.icon-dapps:before { content: '\e805'; } /* '' */
.icon-nft:before { content: '\e806'; } /* '' */
.icon-token:before { content: '\e807'; } /* '' */
.icon-wallet:before { content: '\e808'; } /* '' */
.icon-dashboard:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-gear:before { content: '\e80b'; } /* '' */
.icon-dial-pad:before { content: '\e80c'; } /* '' */
.icon-wallet-close:before { content: '\e80d'; } /* '' */
.icon-facuet:before { content: '\e80e'; } /* '' */
.icon-swap-single-arrow:before { content: '\e810'; } /* '' */
.icon-bridge-curved:before { content: '\e811'; } /* '' */
.icon-barcode-scanner:before { content: '\e812'; } /* '' */
.icon-shuttle-outline:before { content: '\e813'; } /* '' */
.icon-shop:before { content: '\e814'; } /* '' */
.icon-website:before { content: '\e815'; } /* '' */
